{% extends "main.html" %}
{% import "macro/macro_content.html" as content %}}

{% set active = 'file' %}
{% set menu_open = 'file' %}

{% block main_content %}

    <div class="col-sm-12 console-title clearfix bline">
        <div class="pull-left">

            <h4>编辑项目【{{ project.name }}】数据</h4>

            <a href="{{ url_for('.projects') }}" class="btn btn-xs btn-toinstlist">
                <span class="icon-toinstlist"></span>
                <span>返回</span>
            </a>
        </div>
    </div>

    <form method="post">
        <div class="col-sm-12 padding-0">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th width="160" style="vertical-align: middle">项目名称</th>
                    <th width="100" style="vertical-align: middle">地址</th>
                    <th width="100" style="vertical-align: middle"></th>
                    <th width="100" style="vertical-align: middle"></th>
                    <th width="120" style="vertical-align: middle">LAS</th>
                    <th colspan="8">
                        <div class="text-center with-bottom-border">
                            <span>BYTE00</span>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                {% for index in range(8)[::-1] %}
                                    <div style="width: 12.5%; float: left">
                                        <span>{{ index }}</span>
                                        {% if index != 0 %}
                                            <i class="resize-line-icon"></i>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </th>
                    <th colspan="8">
                        <div class="text-center with-bottom-border">
                            <span>BYTE01</span>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                {% for index in range(8)[::-1] %}
                                    <div style="width: 12.5%; float: left">
                                        <span>{{ index }}</span>
                                        {% if index != 0 %}
                                            <i class="resize-line-icon"></i>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </th>
                    <th colspan="8">
                        <div class="text-center with-bottom-border">
                            <span>BYTE02</span>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                {% for index in range(8)[::-1] %}
                                    <div style="width: 12.5%; float: left">
                                        <span>{{ index }}</span>
                                        {% if index != 0 %}
                                            <i class="resize-line-icon"></i>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </th>
                    <th colspan="8">
                        <div class="text-center with-bottom-border">
                            <span>BYTE03</span>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                {% for index in range(8)[::-1] %}
                                    <div style="width: 12.5%; float: left">
                                        <span>{{ index }}</span>
                                        {% if index != 0 %}
                                            <i class="resize-line-icon"></i>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if result %}
                    {% for data in result %}
                        <tr>
                            <input type="hidden" name="project_relation_id" value="{{ data.level_4_id }}">
                            <input type="hidden" name="name" value="{{ data.level_4 }}">


                            {% if loop.first %}
                                <td colspan="text-center" rowspan="{{ result| length }}">
                                    {{ data.level_1 }}
                                </td>
                            {% endif %}

                            <td colspan="text-center">
                                {{ data.level_2 }}
                            </td>

                            <td colspan="text-center">
                                {{ data.level_3 }}
                            </td>

                            <td colspan="text-center">
                                {{ data.level_4 }}
                            </td>

                            <td colspan="text-center">
                                <input name="las" class="tc-search-words" style="width: 80px">
                            </td>

                            <td colspan="8">
                                <div class="col-xs-12">
                                    <div class="row">
                                        {% for index in range(8)[::-1] %}
                                            <div style="width: 12.5%; float: left">
                                                <input type="checkbox" name="byte0_{{ index }}" value="y">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="bline col-xs-12" style="margin:  10px 0"></div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <input type="text" class="tc-search-words col-xs-12" name="byte0">
                                    </div>
                                </div>
                            </td>


                            <td colspan="8">
                                <div class="col-xs-12">
                                    <div class="row">
                                        {% for index in range(8)[::-1] %}
                                            <div style="width: 12.5%; float: left">
                                                <input type="checkbox" name="byte1_{{ index }}"  value="y">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="bline col-xs-12" style="margin:  10px 0"></div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <input type="text" class="tc-search-words col-xs-12" name="byte1">
                                    </div>
                                </div>
                            </td>


                            <td colspan="8">
                                <div class="col-xs-12">
                                    <div class="row">
                                        {% for index in range(8)[::-1] %}
                                            <div style="width: 12.5%; float: left">
                                                <input type="checkbox" name="byte2_{{ index }}"  value="y">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="bline col-xs-12" style="margin:  10px 0"></div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <input type="text" class="tc-search-words col-xs-12" name="byte2">
                                    </div>
                                </div>
                            </td>

                            <td colspan="8">
                                <div class="col-xs-12">
                                    <div class="row">
                                        {% for index in range(8)[::-1] %}
                                            <div style="width: 12.5%; float: left">
                                                <input type="checkbox" name="byte3_{{ index }}"  value="y">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="bline col-xs-12" style="margin:  10px 0"></div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <input type="text" class="tc-search-words col-xs-12" name="byte3">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td style="padding: 50px 0" colspan="32" align="center">
                            <span>没有记录</span>
                        </td>
                    </tr>

                {% endif %}
                </tbody>
            </table>

            <div>
                <button class="btn btn-primary">保存</button>
            </div>

        </div>

    </form>

{% endblock %}

{% block head %}

    {{ super() }}
{% endblock %}