{% extends "main.html" %}
{% import "macro/macro_content.html" as content %}}

{% set active = 'file' %}
{% set menu_open = 'file' %}

{% block main_content %}
    <div class="row">
        <div class="col-sm-12">
            {{ content.panel_title('文件列表') }}
        </div>

        <div class="col-sm-12">

            <div>
                <a href="{{ url_for('.create_edit_project') }}" class="btn btn-primary">新建文件</a>
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>产品</th>
                        <th width="100">拥有者</th>
                        <th width="150">最后修改时间</th>
                        <th width="160" class="text-right">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if none %}
                        {% for user in users %}
                            <tr>
                                <td>{{ user.username or '--' }}</td>
                                <td>
                                    {% if user.is_expiry == None or user.is_expiry > 15 %}
                                        {{ td_status('有效期内', 'ok') }}
                                    {% elif user.is_expiry >=0 %}
                                        {{ td_status('即将过期', 'warn') }}
                                    {% else %}
                                        {{ td_status('已经过期', 'no') }}
                                    {% endif %}
                                </td>

                                <td>{{ user.login_time or '--' }}</td>
                                <td>{{ user.login_ip or '--' }}</td>
                                <td>{{ user.register_time or '--' }}</td>
                                <td>
                                    <label class="label_border">
                                        {{ user.expiry_time.strftime('%Y-%m-%d') if  user.expiry_time else  '无限期' }}
                                    </label>
                                </td>
                                <td>{{ user.role.value }}</td>

                                <td class="text-right">
                                    {% if not user.is_admin %}
                                        <div>
                                            <a href="javascript:void (0)" class="edit_user" data-id="{{ user.id }}"
                                               data-username="{{ user.username }}">编辑信息</a>
                                            <span class="text-explode">|</span>
                                            <a href="javascript:void (0)" class="delete-user" data-id="{{ user.id }}">删除</a>
                                        </div>
                                        <div>
                                            <a href="javascript:void (0)" class="update_password" data-id="{{ user.id }}"
                                               data-username="{{ user.username }}">修改密码</a>
                                        </div>
                                    {% else %}
                                        --
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr>
                            <td style="padding: 50px 0" colspan="4" align="center">
                                <span>没有记录</span>
                            </td>
                        </tr>

                    {% endif %}
                    </tbody>
                </table>
            </div>


        </div>


    </div>
{% endblock %}