{% extends "main.html" %}
{% import "macro/macro_content.html" as content %}}

{% set active = 'file' %}
{% set menu_open = 'file' %}

{% block main_content %}
    <div class="row">
        <div class="col-sm-12">
            {{ content.panel_title('文件列表') }}
        </div>

        <div class="col-sm-12">

            <div>
                <a href="{{ url_for('.create_edit_project') }}" class="btn btn-primary">新建文件</a>
                {% if current_user.is_admin or current_user.is_pm_admin %}
                    <a href="javascript:void(0)" class="btn btn-primary download-file pull-right">数据发布</a>
                {% endif %}
            </div>
            <div>
                <table class="table table-hover project-table">
                    <thead>
                    <tr>
                        <th width="120" class="text-center" style="border-right: 1px solid #dddddd">项目</th>
                        <th>文件名</th>
                        <th width="100">拥有者</th>
                        <th width="150">最后修改时间</th>
                        <th width="180" class="text-right">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if projects %}
                        {% for project in projects %}
                            <tr>
                                {% set num = group_project.get(project.id) %}
                                {% if num %}
                                    <td class="text-center" rowspan="{{ num }}"
                                        style="border-right: 1px solid #dddddd">
                                        <span>{{ project.project_group.name }}</span>
                                    </td>
                                {% elif loop.index0 == 0 %}
                                    <td class="text-center" rowspan="{{ num }}"
                                        style="border-right: 1px solid #dddddd">
                                        <span>{{ project.project_group.name }}</span>
                                    </td>
                                {% endif %}

                                <td>
                                    <a href="{{ url_for('.edit_file', project_id=project.id) }}">{{ project.name or '--' }}</a>
                                </td>
                                <td>{{ project.user.username }}</td>
                                <td>{{ project.last_time }}</td>

                                <td class="text-right">
                                    <div>
                                        {% if current_user.is_admin or current_user.is_pm_admin %}
                                            <input type="checkbox" name="publish_project" class="publish_project"
                                                   value="{{ project.id }}">
                                        {% endif %}
                                        <a target="_blank" href="{{ url_for('.edit_file', project_id=project.id) }}">编辑结构</a>
                                        <span class="text-explode">|</span>
                                        <a href="javascript:void (0)" class="delete-project"
                                           data-id="{{ project.id }}">删除</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr>
                            <td style="padding: 50px 0" colspan="5" align="center">
                                <span>没有记录</span>
                            </td>
                        </tr>

                    {% endif %}
                    </tbody>
                </table>
            </div>


        </div>


    </div>
{% endblock %}

{% block scripts %}

    {{ super() }}
    <script>
        $(document).ready(function () {
            $('.delete-project').click(function () {
                var _this_id = $(this).data('id');
                $.update_info_reload('是否删除项目', '/project/delete/' + _this_id, '')
            });

            $('.download-file').click(function () {
                var project_id = [];
                $('.project-table').find('.publish_project:checked').each(function () {
                    project_id.push($(this).val())
                });


                if (project_id) {
                    $.get('file/info/is?project_id=' + project_id.toString(), function (resp) {
                        if (!resp.success) {
                            toastr.error(resp.message)
                        }
                    }).done(function () {
                        project_id.forEach(function (value) {
                            {#downloadFile('/download_file?project_id=' + value)#}
                            export_file('/download_file?project_id=' + value);
                        })
                    });

                }

            })
        });

        function export_file(url) {
            $.fileDownload(url, {
                httpMethod: 'get',
                prepareCallback: function (url) {
                    toastr.options.timeOut = null;
                    toastr.info('下载开始，请稍等...');
                },
                successCallback: function (url) {
                    toastr.clear();
                    toastr.options.timeOut = 2000;
                    toastr.success('导出成功');
                },
                failCallback: function (html, url) {
                    var json = JSON.parse(html);
                    console.log(json);
                    if (json.status === 512) {
                        toastr.clear();
                        toastr.options.timeOut = 2000;
                        toastr.error(json.errorMessage);
                    }
                }
            });
        }


    </script>
{% endblock %}