<div tabindex="-1" class="modal fade" id="add-content">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">添加内容</h3>
                </div>

                <div class="modal-body clearfix">
                    <div class="row">
                        <form class="form-horizontal" name="form">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class="control-label pull-right">
                                        <span class="text-danger">*</span>内容:
                                    </label></div>
                                <div class="col-sm-6">
                                    <textarea name="content" class="form-control pull-left" rows="10"></textarea>
                                </div>
                                <div class="col-sm-4">
                                    <div>
                                        <b>提示:</b>
                                    </div>
                                    <div>
                                        填写需要增加的内容，如果一次增加多条记录，请一次输入多行
                                    </div>
                                </div>
                                <input type="hidden" name="parent_id" value="">
                                <input type="hidden" name="level" value="">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="modal-footer">
                    {% if current_user.is_edited %}
                        <button class="btn btn-primary submit-content">确定</button>
                    {% else %}
                        <button class="btn btn-primary submit-content" disabled>确定</button>
                    {% endif %}
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>