<div tabindex="-1" class="modal fade" id="update-las-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title"></h3>
                </div>

                <div class="modal-body clearfix">
                    <form class="form-horizontal" name="form">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-left">
                                    <div class="div_title" style="border-left-color: #88B7E0; width: 120px">
                                        <span>编辑规则</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea name="las_value" class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary submit_update_las">确定</button>
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>