{% extends "manage.html" %}
{% import "macro/macro_content.html" as content %}
{% import "macro/macro_form.html" as render_form %}
{% from "macro/macro_table.html" import td_status %}

{% set active = 'attrs' %}
{% set menu_open = 'attrs' %}

{% block manage_content %}

    <div class="row">
        <div class="col-sm-12">
            {{ content.panel_title('属性管理') }}
        </div>

        <div class="col-sm-12">

            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="150">名称</th>
                        <th>属性</th>
                        <th width="100">状态</th>
                        <th width="120" class="text-right">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if attr_list %}
                        {% for attr in attr_list %}
                            <tr>
                                <td>{{ attr.name }}</td>
                                <td>{{ attr.content or '--' }}</td>
                                <td>{{ attr.username }}</td>

                                <td class="text-right">
                                    <a href="{{ url_for('.edit_attr', id=attr.id) }}">编辑</a>
                                </td>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr>
                            <td style="padding: 50px 0" colspan="8" align="center">
                                <span>没有记录</span>
                            </td>
                        </tr>

                    {% endif %}
                    </tbody>
                </table>
            </div>


        </div>
    </div>
{% endblock %}
