{% extends "manage.html" %}
{% import "macro/macro_content.html" as content %}
{% import "macro/macro_form.html" as render_form %}
{% from "macro/macro_table.html" import td_status %}

{% set active = 'attrs' %}
{% set menu_open = 'attrs' %}

{% block users_content %}

    <div class="row">
        <div class="col-sm-12">
            {{ content.panel_title('属性管理') }}
        </div>

        <div class="col-sm-12">

            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="150">level</th>
                        <th>属性</th>
                        <th width="120" class="text-right">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if none %}
                        {% for attr in attrs %}
                            <tr>
                                <td>{{ attr.level }}</td>
                                <td>{{ attr.content }}</td>

                                <td class="text-right">
                                    <a href="javascript:void (0)" class="edit_attr" data-id="{{ user.id }}"
                                       data-username="{{ user.username }}">编辑</a>
                                </td>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr>
                            <td style="padding: 50px 0" colspan="8" align="center">
                                <span>没有记录</span>
                            </td>
                        </tr>

                    {% endif %}
                    </tbody>
                </table>
            </div>


        </div>
    </div>
{% endblock %}
