{% extends "manage.html" %}

{% set active = 'attrs' %}
{% set menu_open = 'attrs' %}

{% block manage_content %}

    <div class="col-sm-12 console-title bline clearfix">
        <div class="pull-left">
            <h4>修改默认参数属性</h4>
            <a href="{{ url_for('.attrs') }}" class="btn btn-xs btn-toinstlist">
                <span class="icon-toinstlist"></span>
                <span>返回</span>
            </a>
        </div>
    </div>

    <div class="col-sm-12" style="margin-top: 10px">
        <form method="post" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2"><label for="" class="control-label pull-right"><span>名称:</span></label></div>
                <div class="col-sm-3">
                    <input class="form-control pull-left" name="name" value="{{ attr_info.name }}" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"><label for="" class="control-label pull-right"><span>PIN数目:</span></label></div>
                <div class="col-sm-3">
                    {% set extra_content = extra_attr.content | loads_jason if extra_attr and extra_attr.content else [] %}
                    <input class="form-control pull-left" name="pin_num"
                           value="{{ extra_content[-1].get('pin_num') or '' if extra_content }}" type="number" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"><label class="control-label pull-right">PIN属性:</label></div>
                <div class="col-sm-10" style="color: #666;margin-top: 10px">

                    <span class="text-warning">注：如果pin数量大于1个，PIN属性的默认值	用/分开，比如属性字段:PinDefinition, 默认值：'D/H'</span>
                    <table class="table table-hover table-extra-filter">
                        <thead>
                        <tr>
                            <th width="200">属性字段</th>
                            <th width="200">默认值</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% if extra_attr and extra_attr.content %}
                                {% for attr in extra_attr.content | loads_jason %}
                                    {% if 'pin_num' not in attr.keys() %}
                                        <tr>
                                            <td>
                                                <input name="item" class="td-input" required
                                                       value="{{ attr['item'] }}"/>
                                            </td>
                                            <td>
                                                <input name="item_default" class="td-input"
                                                       value="{{ attr['item_default'] }}"/>
                                            </td>

                                            <td><a href="javascript:void(0);" class="td-remove">移除</a></td>
                                        </tr>
                                    {% endif %}

                                {% endfor %}

                            {% endif %}
                        </tr>
                        <tr>

                            <td colspan="2" style="font-size: 15px">
                                <a class="monitor-dialog-add" href="javascript:void(0)">
                                    <i class="blue-add-icon"></i>
                                    <span class="td-add" style="position: relative;top: -1px;">添加</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2"><label class="control-label pull-right">ResetSection:</label></div>
                <div class="col-sm-10" style="color: #666">

                    <table class="table table-hover table-extra-resetsection">
                        <thead>
                        <tr>
                            <th width="200">属性字段</th>
                            <th width="200">默认值</th>
                            {#                            <th width="200">校验规则</th>#}
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% set extra_content_section = extra_attr.content_section | loads_jason if extra_attr and extra_attr.content_section else None %}
                            {% if extra_content_section %}
                                {% for attr in extra_content_section %}
                                    <tr>
                                        <td>
                                            <input name="resetsection_item" class="td-input" required
                                                   value="{{ attr['resetsection_item'] }}"/>
                                        </td>
                                        <td>
											{% if attr['resetsection_item'] == 'DelayForMS' %}
											
	 											<input type="text" name="resetsection_item_default" class="td-input" style="font-size: 13px" 
	                                                   value="{{ attr['resetsection_item_default'] }}"/>
												
											{% else %}
	{#                                            <input name="resetsection_item_default" class="td-input"#}
	{#                                                   value="{{ attr['resetsection_item_default'] }}"/>#}
												<select name="resetsection_item_default" class="td-input" style="font-size: 13px">
													{% for true_or_false in ['true', 'false'] %}
														{% if attr['resetsection_item_default'] == true_or_false %}
															<option value="{{ true_or_false }}" selected>{{ true_or_false }}</option>
														{% else %}
															<option value="{{ true_or_false }}">{{ true_or_false }}</option>
														{% endif %}
													{% endfor %}
												</select>
											{% endif %}
                                        </td>
                                        {#<td>
											<input name="resetsection_item_check" id="resetsection_item_check" class="td-input" maxlength="11" onkeyup="onCheckKeyUpEvent('resetsection_item_check')" 
                                                   value="{{ attr['resetsection_item_check'] }}"/>
										</td>#}
                                        <td><a href="javascript:void(0);" class="td-remove">移除</a></td>
                                    </tr>


                                {% endfor %}

                            {% endif %}
                        </tr>
                        <tr>

                            <td colspan="2" style="font-size: 15px">
                                <a class="monitor-dialog-add" href="javascript:void(0)">
                                    <i class="blue-add-icon"></i>
                                    <span class="td-add2" style="position: relative;top: -1px;">添加</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                    <button class="btn btn-primary">保存</button>
                    <a href="{{ url_for('.attrs') }}" class="btn btn-default" style="margin-left: 20px">取消</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}

    {{ super() }}
    <script src="{{ url_for('static', filename='js/manage/add_extra_attr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/regexp/check.js') }}"></script>
{% endblock %}